:root {
    --bgCard: #aaaaaaaf;
    --pinkSky: #f3dadf;
    --cloudySky: #e3e8ee;

}


body {
    background-image: url(https://images.unsplash.com/photo-1612158560555-34306ad5e77c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    height: 100%;
    background-size: cover;
    background-position: center;
}

section.shop-card {
    font-size: small;
}

h4 {
    font-size: medium;
}

.welcome {
    background-color: var(--bgCard);
    border-radius: 20px;
    color: var(--cloudySky);
    height: 40vh;
    text-shadow: 0 1px 1px var(--pinkSky);
    width: 45vw;
}

.item-card {
    background-color: var(--bgCard);
    padding: 5px;
    border-radius: 10px;
}

/* .sashimi-card {
    justify-content: end;
} */

.shop-card {
    /* background-color: var(--bgFooter); */
    background-image: url(https://images.unsplash.com/photo-1534680554819-83f7124bcfc5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0 !important;
    color: black;
}

button {
    border-radius: 10px;
    padding: 3px;
}

button:hover {
    box-shadow: 0 0 10px 3px whitesmoke,
        inset 0 0 10px 3px whitesmoke;
}

.autos-card {
    height: 8vh;

}

.clickMe {
    filter: hue-rotate(137deg);
    height: 35vh;
}

.hidden {
    display: none;
}

.icon {
    height: 50px;
}

#target {
    height: 35vh;
}

#updateStats {
    font-size: 16px;
}

@media (min-width: 768px) {
    button {
        border-radius: 15px;
        padding: .5em;
    }

    h4 {
        font-size: 24px;
    }

    section.shop-card {
        font-size: large;
    }

    #target {
        height: 60vh;
    }

    #updateStats {
        font-size: 20px;
    }

    .autos-card {
        height: 15vh;

    }

    .clickMe {
        filter: hue-rotate(137deg);
    }

    .shop-card {
        /* background-color: var(--bgFooter); */
        background-image: url(https://images.unsplash.com/photo-1447953696461-df240a5320a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
        background-size: cover;
        background-position-y: 630px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 37vh;
        bottom: 0;
        padding-top: .5em;
    }

    .signage {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: var(--pinkSky) !important;
        color: black;
        font-family: 'Bagel Fat One', cursive;
        font-size: 36px !important;
        text-shadow: 0 1px 1px black;
    }

    .text-special {
        font-family: 'Bagel Fat One', cursive;
        text-shadow: 0 3px 7px black;
        font-size: 72px !important;
    }
}

.reset {
    /* text-shadow: 0 1px 1px black; */
    background-color: rgb(255, 0, 102);
    font-family: 'Bagel Fat One', cursive;
    position: absolute;
    right: 0;
}

.reset:hover {
    box-shadow: 0 0 10px 3px #ff002f,
        inset 0 0 10px 3px #ff002f;
}

.signage {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--cloudySky);
    color: black;
    font-family: 'Bagel Fat One', cursive;
    font-size: x-large;
    position: relative;
    text-shadow: 0 1px 1px black;
}

.start {
    font-family: 'Bagel Fat One', cursive;
    text-shadow: 0 1px 1px black;


}

.text-general {
    font-family: 'IBM Plex Mono', monospace;
}

.text-special {
    font-family: 'Bagel Fat One', cursive;
    text-shadow: 0 3px 7px black;
    font-size: 36px;
}

/* img {
    height: 20vh;
} */


/* gis storage
Penguin
https://media2.giphy.com/media/jbVIvd88wslIepMC1e/giphy.gif?cid=ecf05e47s28t40macs7wnrdqry65ki4r0pas33bxyr45bm9n&ep=v1_stickers_search&rid=giphy.gif&ct=s


*/